# Python stuff
.venv
__pycache__

# Git stuff
.gitignore
.gitmodules
.git
.github

# Useless stuff and markdown
*.swp
*.orig

# Local work directories (scripts, tests, etc)
deploy
scripts
tests
chsdi/static/info.json.ini
chsdi/static/robots.txt

# CI and build stuff
buildspec*
Makefile*
package.json
package-lock.json
secrets.yml
node_modules

# Ignore all hidden files
.*

logs/

