# Python stuff
.venv
__pycache__

# Git stuff
.gitignore
.gitmodules
.git
.github

# Useless stuff and markdown
*.swp
*.orig

# Local work directories (scripts, tests, etc)
deploy
scripts
tests

# CI and build stuff
buildspec*
Makefile*
MANIFEST*
package.json
package-lock.json
secrets.yml
node_modules
# TODO remove those after the migration to frankfurt
production.ini.in
development.ini.in
production.ini
development.ini
requirements.txt

# Ignore all hidden files
.*


