*.pyc
*.ini
*.mo
*.iml
*.swp
*~
.coverage
.idea
.installed.cfg
.venv/
rc_branch
rc_user_*
apache/wsgi.conf
apache/application.wsgi
apache/tomcat-print.conf
chsdi.egg-info
chsdi/static/doc/build/
chsdi/static/css/extended.min.css
chsdi/static/css/blueimp-gallery.min.css
deploy/hooks/pre-create-code
node_modules
MANIFEST
buildout_branch.cfg
deploy/deploy-branch.cfg
deploy/conf/00-branch.conf
print/WEB-INF/web.xml
tests/varnish*
app*.log
local
