[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "~=1.40"
cachetools = "~=6.2"
decorator = "~=5.2"
esrijson = "~=0.4"
gatilegrid = "~=0.2"
geojson = "~=3.2"
lark_parser = "~=0.12"
networkx = "~=3.5"
papyrus = "<2.6"  # requires sqlalchemy>=2
SQLAlchemy = "<2"  # we don't want to put in the effort to upgrade to 2
Pillow = "~=11.3"
polib = "~=1.2"
psycopg2-binary = "~=2.9"  # psycopg 3 requires sqlalchemy>=2
pyproj = "~=3.7"
pyramid = "~=2.0"
pyramid-mako = "~=1.1"
pyramid-tm = "~=2.6"
pyramid-debugtoolbar = "~=4.12"
python-dateutil = "~=2.9"
pytz = "*"  # uses CalVer, not SemVer
PyYAML = "~=6.0"
regex = "*"  # uses CalVer, not SemVer
requests = "~=2.32"
Shapely = "~=2.1"
numpy = "~=2.3"
simplejson = "~=3.20"
unidecode = "~=1.4"
logging-utilities = "~=5.1"
pyramid-exclog = "~=1.1"
GeoAlchemy2 = "~=0.18"
setuptools = "<81"  # https://github.com/Pylons/pyramid/issues/3731

[dev-packages]
waitress = "*"
PyRSS2Gen = "*"
flake8 = "*"
pep8 = "*"
pyflakes = "*"
pycodestyle = "*"
autopep8 = "*"
Babel = "*"
beautifulsoup4 = "*"
WebTest = "*"
unittest-xml-reporting = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"
nose2 = "*"
coverage = "*"
requests-mock = "*"
pylint = "*"

[requires]
python_version = "3.13"
